@font-face {
  font-family: bebas-neue;
  src: url(https://use.typekit.net/af/d8aa8e/0000000000000000000149c5/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/d8aa8e/0000000000000000000149c5/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/d8aa8e/0000000000000000000149c5/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/424c66/000000000000000000012126/27/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/424c66/000000000000000000012126/27/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/424c66/000000000000000000012126/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/9e8406/0000000000000000000118ad/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/9e8406/0000000000000000000118ad/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/9e8406/0000000000000000000118ad/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/163156/0000000000000000000118ae/27/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/163156/0000000000000000000118ae/27/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/163156/0000000000000000000118ae/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/48676d/000000000000000000011ce6/27/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/48676d/000000000000000000011ce6/27/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/48676d/000000000000000000011ce6/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/f7443b/0000000000000000000118b0/27/l?subset_id=2&fvd=i5&v=3) format("woff2"), url(https://use.typekit.net/af/f7443b/0000000000000000000118b0/27/d?subset_id=2&fvd=i5&v=3) format("woff"), url(https://use.typekit.net/af/f7443b/0000000000000000000118b0/27/a?subset_id=2&fvd=i5&v=3) format("opentype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/194ca9/0000000000000000000118b1/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/194ca9/0000000000000000000118b1/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/194ca9/0000000000000000000118b1/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/b2a7b8/0000000000000000000118b2/27/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/b2a7b8/0000000000000000000118b2/27/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/b2a7b8/0000000000000000000118b2/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/b2c1dd/0000000000000000000118b3/27/l?subset_id=2&fvd=n9&v=3) format("woff2"), url(https://use.typekit.net/af/b2c1dd/0000000000000000000118b3/27/d?subset_id=2&fvd=n9&v=3) format("woff"), url(https://use.typekit.net/af/b2c1dd/0000000000000000000118b3/27/a?subset_id=2&fvd=n9&v=3) format("opentype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: franklin-gothic-urw;
  src: url(https://use.typekit.net/af/9def2a/0000000000000000000118b4/27/l?subset_id=2&fvd=i9&v=3) format("woff2"), url(https://use.typekit.net/af/9def2a/0000000000000000000118b4/27/d?subset_id=2&fvd=i9&v=3) format("woff"), url(https://use.typekit.net/af/9def2a/0000000000000000000118b4/27/a?subset_id=2&fvd=i9&v=3) format("opentype");
  font-weight: 900;
  font-style: italic; }
* {
  box-sizing: border-box; }

body {
  padding: 10px 0; }

iframe {
  border: 0;
  width: 100%;
  height: 100%; }

h2 {
  margin-top: 0; }

header,
section {
  padding: 0 10px; }

.iframe {
  position: relative; }
  .iframe.mapmytracks {
    height: 720px; }
  .iframe.video {
    height: auto;
    padding-bottom: 56.25%; }
    .iframe.video iframe {
      position: absolute; }

@media (min-width: 737px) {
  section.tracking {
    float: left;
    width: 49%; }

  section.livestream {
    float: right;
    width: 49%; }

  section.instagram {
    float: right;
    width: 49%; } }
