!!!
%head
  %title Hardattack TV - Live from the bike

%body
  %header
    %h1.site-title
      %img(src="//static1.squarespace.com/static/51483c64e4b0e61bb0ac556e/t/54569fd9e4b0a7b893825b4d/1492066285506/?format=1500w" alt="HARDATTACK mtb + cx team, germany")

    %h2
      Live from SKODA Velotour 2017

  %main
    %section.livestream
      %h3 Livestream

      .iframe.video.ustream
        %iframe(src="https://www.ustream.tv/embed/23175392?html5ui" webkitallowfullscreen allowfullscreen)

    %section.instagram
      %h3 Instagram

      %script(src="https://snapwidget.com/js/snapwidget.js")
      %iframe(src="https://snapwidget.com/embed/375092" class="snapwidget-widget" scrolling="no")

    %section.tracking
      %h3 Tracking

      -# RACEMAP
      -#
        .iframe
          %iframe(src="https://racemap.com/player/eschborn-frankfurt-110km_2017-05-01"  scrolling="no")

      .iframe.velotour
        %iframe(src="//www.mapmytracks.com/widgets/event/2388808/2388810" scrolling="no")

  -# ----

  %link(href="//static1.squarespace.com/static/sitecss/51483c64e4b0e61bb0ac556e/257/515c7bd0e4b054dae3fcf003/54568bbde4b0b72a9afcaf2d/2757-05142015/1492066594320/site.css" rel="stylesheet")

  :scss
    body {
      padding: 10px 0;
    }

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }

    h2 {
      margin-top: 0;
    }

    header,
    section {
      padding: 0 10px;
    }

    .iframe {
      height: 500px;
      position: relative;

      &.velotour {
        min-height: 741px;
      }

      &.video {
        height: auto;
        padding-bottom: 56.25%;

        iframe {
          position: absolute;
        }
      }
    }

  :css
    @font-face{font-family:bebas-neue;src:url(https://use.typekit.net/af/d8aa8e/0000000000000000000149c5/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/d8aa8e/0000000000000000000149c5/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/d8aa8e/0000000000000000000149c5/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/424c66/000000000000000000012126/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/424c66/000000000000000000012126/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/424c66/000000000000000000012126/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/9e8406/0000000000000000000118ad/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/9e8406/0000000000000000000118ad/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/9e8406/0000000000000000000118ad/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/163156/0000000000000000000118ae/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/163156/0000000000000000000118ae/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/163156/0000000000000000000118ae/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/48676d/000000000000000000011ce6/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/48676d/000000000000000000011ce6/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/48676d/000000000000000000011ce6/27/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/f7443b/0000000000000000000118b0/27/l?subset_id=2&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/f7443b/0000000000000000000118b0/27/d?subset_id=2&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/f7443b/0000000000000000000118b0/27/a?subset_id=2&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/194ca9/0000000000000000000118b1/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/194ca9/0000000000000000000118b1/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/194ca9/0000000000000000000118b1/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/b2a7b8/0000000000000000000118b2/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/b2a7b8/0000000000000000000118b2/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/b2a7b8/0000000000000000000118b2/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/b2c1dd/0000000000000000000118b3/27/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/b2c1dd/0000000000000000000118b3/27/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/b2c1dd/0000000000000000000118b3/27/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;}@font-face{font-family:franklin-gothic-urw;src:url(https://use.typekit.net/af/9def2a/0000000000000000000118b4/27/l?subset_id=2&fvd=i9&v=3) format("woff2"),url(https://use.typekit.net/af/9def2a/0000000000000000000118b4/27/d?subset_id=2&fvd=i9&v=3) format("woff"),url(https://use.typekit.net/af/9def2a/0000000000000000000118b4/27/a?subset_id=2&fvd=i9&v=3) format("opentype");font-weight:900;font-style:italic;}
